* {
    margin: 0;
    padding: 0;
}



.projects, .experience, .home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
